#GDP

In [ ]:
import pandas as pd
import numpy as mp
import matplotlib as mlt
import matplotlib.pyplot as plt

In [ ]:
co2_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/annual-co2-emissions-per-country.csv')
pop_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/population-since-1800.csv')
co2_df = co2_df.merge(pop_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')
co2_df['co2_per_capita'] = co2_df['Annual CO₂ emissions'] / co2_df['Population (historical estimates)']

In [ ]:
co2_df.loc[:,['Year', 'Annual CO₂ emissions']].corr()

                          Year  Annual CO₂ emissions
Year                  1.000000              0.146837
Annual CO₂ emissions  0.146837              1.000000

In [ ]:
gdp_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/gdp-per-capita-maddison-2020.csv')
gdp_df.drop(columns=['417485-annotations'], inplace=True)

In [ ]:
gdp_df

            Entity Code  Year  GDP per capita
0      Afghanistan  AFG  1950     1156.000000
1      Afghanistan  AFG  1951     1170.000000
2      Afghanistan  AFG  1952     1189.000000
3      Afghanistan  AFG  1953     1240.000000
4      Afghanistan  AFG  1954     1245.000000
...            ...  ...   ...             ...
19871     Zimbabwe  ZWE  2014     1594.000000
19872     Zimbabwe  ZWE  2015     1560.000000
19873     Zimbabwe  ZWE  2016     1534.000000
19874     Zimbabwe  ZWE  2017     1582.366211
19875     Zimbabwe  ZWE  2018     1611.405151

[19876 rows x 4 columns]

In [ ]:
df_gdp = co2_df.merge(gdp_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')
df

,Entity,Code,Year,Annual CO₂ emissions,Population (historical estimates),co2_per_capita,GDP per capita,military_expenditure_per_capita,Gini coefficient,Other (FAO (2017)) (kilocalories per person per day),...,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,renewables_elec_per_capita,renewables_share_elec,solar_elec_per_capita,solar_share_elec,wind_elec_per_capita,wind_share_elec,Per capita total RPKs,"Railways, passengers carried (million passenger-km)"
0,Afghanistan,AFG,1949,14656.0,7624058.0,0.001922,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1950,84272.0,7480464.0,0.011266,1156.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1951,91600.0,7571542.0,0.012098,1170.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1952,91600.0,7667534.0,0.011946,1189.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1953,106256.0,7764549.0,0.013685,1240.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59836,Uruguay - urban,NaN,2001,NaN,NaN,NaN,NaN,NaN,0.450077,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59837,Uruguay - urban,NaN,2002,NaN,NaN,NaN,NaN,NaN,0.455444,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59838,Uruguay - urban,NaN,2003,NaN,NaN,NaN,NaN,NaN,0.450338,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59839,Uruguay - urban,NaN,2004,NaN,NaN,NaN,NaN,NaN,0.458812,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59840,Uruguay - urban,NaN,2005,NaN,NaN,NaN,NaN,NaN,0.447278,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_gdp.corr()['co2_per_capita']

Year                                 0.119473
Annual CO₂ emissions                 0.038651
Population (historical estimates)   -0.009601
co2_per_capita                       1.000000
GDP per capita                       0.608929
Name: co2_per_capita, dtype: float64

#diet

In [ ]:
diet_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/dietary-compositions-by-commodity-group.csv')
diet_df

,Entity,Code,Year,Other (FAO (2017)) (kilocalories per person per day),Alcoholic Beverages (FAO (2017)) (kilocalories per person per day),Sugar (FAO (2017)) (kilocalories per person per day),Oils & Fats (FAO (2017)) (kilocalories per person per day),Meat (FAO (2017)) (kilocalories per person per day),Dairy & Eggs (FAO (2017)) (kilocalories per person per day),Fruit and Vegetables (FAO (2017)) (kilocalories per person per day),Starchy Roots (FAO (2017)) (kilocalories per person per day),Pulses (FAO (2017)) (kilocalories per person per day),Cereals and Grains (FAO (2017)) (kilocalories per person per day)
0,Afghanistan,AFG,1961,13,0.0,51,92,88,102,82,25,16,2530
1,Afghanistan,AFG,1962,12,0.0,45,98,88,101,76,22,17,2458
2,Afghanistan,AFG,1963,13,0.0,47,106,91,110,79,23,17,2212
3,Afghanistan,AFG,1964,11,0.0,55,102,93,110,95,24,18,2445
4,Afghanistan,AFG,1965,13,0.0,57,105,95,118,95,24,18,2431
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,Zimbabwe,ZWE,2009,17,67.0,209,345,94,53,28,56,56,1222
8150,Zimbabwe,ZWE,2010,19,66.0,223,342,94,56,32,54,49,1233
8151,Zimbabwe,ZWE,2011,18,66.0,232,343,98,59,32,56,39,1257
8152,Zimbabwe,ZWE,2012,16,79.0,264,353,99,55,31,55,35,1210
8153,Zimbabwe,ZWE,2013,14,76.0,268,340,91,55,29,54,36,1147

In [ ]:
df_diet = co2_df.merge(diet_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
df_diet.corr()['co2_per_capita']

Year                                                                   0.119473
Annual CO₂ emissions                                                   0.038651
Population (historical estimates)                                     -0.009601
co2_per_capita                                                         1.000000
Other (FAO (2017)) (kilocalories per person per day)                   0.387758
Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)     0.337032
Sugar (FAO (2017)) (kilocalories per person per day)                   0.355939
Oils & Fats (FAO (2017)) (kilocalories per person per day)             0.316716
Meat (FAO (2017)) (kilocalories per person per day)                    0.408993
Dairy & Eggs (FAO (2017)) (kilocalories per person per day)            0.414768
Fruit and Vegetables (FAO (2017)) (kilocalories per person per day)    0.168358
Starchy Roots (FAO (2017)) (kilocalories per person per day)          -0.174429
Pulses (FAO (2017)) (kilocalories per person per day)                 -0.169587
Cereals and Grains (FAO (2017)) (kilocalories per person per day)     -0.078561
Name: co2_per_capita, dtype: float64

#number of cars per capita

In [ ]:
cars_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/new-vehicles-type-area%20(1).csv')
pop_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/population-since-1800.csv')
cars_df = cars_df.merge(pop_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')
cars_df['total_new_cars'] = cars_df['battery_electric_number'] + cars_df['plugin_hybrid_number'] + cars_df['full_mild_hybrid_number'] + cars_df['petrol_number'] + cars_df['diesel_gas_number']
cars_df.loc[:,'battery_electric_number'] = cars_df.loc[:,'battery_electric_number'] / cars_df['Population (historical estimates)']
cars_df.loc[:,'plugin_hybrid_number'] = cars_df.loc[:,'plugin_hybrid_number'] / cars_df['Population (historical estimates)']
cars_df.loc[:,'full_mild_hybrid_number'] = cars_df.loc[:,'full_mild_hybrid_number'] / cars_df['Population (historical estimates)']
cars_df.loc[:,'petrol_number'] = cars_df.loc[:,'petrol_number'] / cars_df['Population (historical estimates)']
cars_df.loc[:,'diesel_gas_number'] = cars_df.loc[:,'diesel_gas_number'] / cars_df['Population (historical estimates)']
cars_df.loc[:,'total_new_cars'] = cars_df.loc[:,'total_new_cars'] / cars_df['Population (historical estimates)']
cars_df.drop(columns=['Population (historical estimates)'], inplace=True)
df_num_of_cars = co2_df.merge(cars_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
cars_df

,Entity,Code,Year,battery_electric_number,plugin_hybrid_number,full_mild_hybrid_number,petrol_number,diesel_gas_number,total_new_cars
0,Austria,AUT,2001,0.000000e+00,0.0,4.850968e-06,0.012532,0.023973,0.036510
1,Austria,AUT,2002,1.237778e-07,0.0,2.104222e-06,0.010511,0.024082,0.034595
2,Austria,AUT,2003,0.000000e+00,0.0,9.852089e-07,0.010577,0.026382,0.036960
3,Austria,AUT,2004,0.000000e+00,0.0,1.627691e-05,0.011796,0.026284,0.038096
4,Austria,AUT,2005,0.000000e+00,0.0,5.591322e-05,0.014541,0.022829,0.037426
...,...,...,...,...,...,...,...,...,...
49619,Zimbabwe,ZWE,2017,NaN,NaN,NaN,NaN,NaN,NaN
49620,Zimbabwe,ZWE,2018,NaN,NaN,NaN,NaN,NaN,NaN
49621,Zimbabwe,ZWE,2019,NaN,NaN,NaN,NaN,NaN,NaN
49622,Zimbabwe,ZWE,2020,NaN,NaN,NaN,NaN,NaN,NaN
49623,Zimbabwe,ZWE,2021,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_num_of_cars.corr()['co2_per_capita']

Year                                 0.119473
Annual CO₂ emissions                 0.038651
Population (historical estimates)   -0.009601
co2_per_capita                       1.000000
battery_electric_number             -0.042258
plugin_hybrid_number                -0.054785
full_mild_hybrid_number             -0.130437
petrol_number                        0.513349
diesel_gas_number                    0.704291
total_new_cars                       0.778265
Name: co2_per_capita, dtype: float64

In [ ]:
df

,Entity,Code,Year,Annual CO₂ emissions,Population (historical estimates),co2_per_capita,GDP per capita,military_expenditure_per_capita,Gini coefficient,Other (FAO (2017)) (kilocalories per person per day),...,other_renewables_share_elec,other_renewables_share_elec_exc_biofuel,renewables_elec_per_capita,renewables_share_elec,solar_elec_per_capita,solar_share_elec,wind_elec_per_capita,wind_share_elec,Per capita total RPKs,"Railways, passengers carried (million passenger-km)"
0,Afghanistan,AFG,1949,14656.0,7624058.0,0.001922,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1950,84272.0,7480464.0,0.011266,1156.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1951,91600.0,7571542.0,0.012098,1170.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1952,91600.0,7667534.0,0.011946,1189.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1953,106256.0,7764549.0,0.013685,1240.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59836,Uruguay - urban,NaN,2001,NaN,NaN,NaN,NaN,NaN,0.450077,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59837,Uruguay - urban,NaN,2002,NaN,NaN,NaN,NaN,NaN,0.455444,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59838,Uruguay - urban,NaN,2003,NaN,NaN,NaN,NaN,NaN,0.450338,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59839,Uruguay - urban,NaN,2004,NaN,NaN,NaN,NaN,NaN,0.458812,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59840,Uruguay - urban,NaN,2005,NaN,NaN,NaN,NaN,NaN,0.447278,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Population

In [ ]:
pop_den_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/population-density.csv')

In [ ]:
df_pop = co2_df.merge(pop_den_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
df_pop.corr()['co2_per_capita']

Year                                 0.119473
Annual CO₂ emissions                 0.038651
Population (historical estimates)   -0.009601
co2_per_capita                       1.000000
Population density                   0.016757
Name: co2_per_capita, dtype: float64

#enegy

In [ ]:
energy_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/owid-energy-data.csv')
#df = df.merge(energy_df, left_on=['Entity', 'Code', 'Year'], right_on=['country', 'iso_code', 'year'], how='outer')
energy_df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1903,AFG,4998861.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1904,AFG,5063419.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22338,Zimbabwe,2017,ZWE,14236599.0,2.194784e+10,NaN,NaN,NaN,NaN,22.477,...,0.137,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22339,Zimbabwe,2018,ZWE,14438812.0,2.271535e+10,NaN,NaN,NaN,NaN,27.011,...,0.110,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22340,Zimbabwe,2019,ZWE,14645473.0,NaN,NaN,NaN,NaN,NaN,25.947,...,0.088,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22341,Zimbabwe,2020,ZWE,14862927.0,NaN,NaN,NaN,NaN,NaN,24.221,...,0.090,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22342,Zimbabwe,2021,ZWE,15092171.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.set_option('display.max_rows', 500)
df.corr()['co2_per_capita']

Year                                                                   0.119473
Annual CO₂ emissions                                                   0.038651
Population (historical estimates)                                     -0.009601
co2_per_capita                                                         1.000000
GDP per capita                                                         0.608929
military_expenditure_per_capita                                        0.639084
Gini coefficient                                                      -0.433344
Other (FAO (2017)) (kilocalories per person per day)                   0.387758
Alcoholic Beverages (FAO (2017)) (kilocalories per person per day)     0.337032
Sugar (FAO (2017)) (kilocalories per person per day)                   0.355939
Oils & Fats (FAO (2017)) (kilocalories per person per day)             0.316716
Meat (FAO (2017)) (kilocalories per person per day)                    0.408993
Dairy & Eggs (FAO (2017)) (kilocalories per person per day)            0.414768
Fruit and Vegetables (FAO (2017)) (kilocalories per person per day)    0.168358
Starchy Roots (FAO (2017)) (kilocalories per person per day)          -0.174429
Pulses (FAO (2017)) (kilocalories per person per day)                 -0.169587
Cereals and Grains (FAO (2017)) (kilocalories per person per day)     -0.078561
battery_electric_number                                               -0.042258
plugin_hybrid_number                                                  -0.054785
full_mild_hybrid_number                                               -0.130437
petrol_number                                                          0.513349
diesel_gas_number                                                      0.704291
total_new_cars                                                         0.778265
Population density                                                     0.016757
year                                                                   0.132229
biofuel_elec_per_capita                                                0.136409
biofuel_share_elec                                                    -0.077422
coal_elec_per_capita                                                   0.413101
coal_share_elec                                                        0.201343
fossil_elec_per_capita                                                 0.848802
fossil_share_elec                                                      0.222764
gas_elec_per_capita                                                    0.682614
gas_share_elec                                                         0.376955
hydro_elec_per_capita                                                  0.063030
hydro_share_elec                                                      -0.273197
low_carbon_elec_per_capita                                             0.092099
low_carbon_share_elec                                                 -0.223897
nuclear_elec_per_capita                                                0.123741
nuclear_share_elec                                                     0.120325
oil_elec_per_capita                                                    0.238943
oil_share_elec                                                        -0.212688
other_renewables_elec_per_capita                                       0.042785
other_renewables_elec_per_capita_exc_biofuel                           0.060121
other_renewables_share_elec                                           -0.080456
other_renewables_share_elec_exc_biofuel                               -0.045163
renewables_elec_per_capita                                             0.067245
renewables_share_elec                                                 -0.277443
solar_elec_per_capita                                                  0.047037
solar_share_elec                                                      -0.022701
wind_elec_per_capita                                                   0.057835
wind_share_elec                                                        0.025274
Per capita total RPKs                                                  0.445305
Railways, passengers carried (million passenger-km)                    0.008147
Name: co2_per_capita, dtype: float64

In [ ]:
contain = []
for column in energy_df.columns:
  if column.__contains__('elec_per_capita'):
    contain.append(True) 
  elif column in ['country', 'year', 'iso_code']:
     contain.append(True)  
  elif column.__contains__('share_elec'):
     contain.append(True)      
  else:
    contain.append(False) 

df_energy = co2_df.merge(energy_df.loc[:,contain], left_on=['Entity', 'Code', 'Year'], right_on=['country', 'iso_code', 'year'], how='outer')

In [ ]:
df_energy.corr()['co2_per_capita']

Year                                            0.119473
Annual CO₂ emissions                            0.038651
Population (historical estimates)              -0.009601
co2_per_capita                                  1.000000
year                                            0.132229
biofuel_elec_per_capita                         0.136409
biofuel_share_elec                             -0.077422
coal_elec_per_capita                            0.413101
coal_share_elec                                 0.201343
fossil_elec_per_capita                          0.848802
fossil_share_elec                               0.222764
gas_elec_per_capita                             0.682614
gas_share_elec                                  0.376955
hydro_elec_per_capita                           0.063030
hydro_share_elec                               -0.273197
low_carbon_elec_per_capita                      0.092099
low_carbon_share_elec                          -0.223897
nuclear_elec_per_capita                         0.123741
nuclear_share_elec                              0.120325
oil_elec_per_capita                             0.238943
oil_share_elec                                 -0.212688
other_renewables_elec_per_capita                0.042785
other_renewables_elec_per_capita_exc_biofuel    0.060121
other_renewables_share_elec                    -0.080456
other_renewables_share_elec_exc_biofuel        -0.045163
renewables_elec_per_capita                      0.067245
renewables_share_elec                          -0.277443
solar_elec_per_capita                           0.047037
solar_share_elec                               -0.022701
wind_elec_per_capita                            0.057835
wind_share_elec                                 0.025274
Name: co2_per_capita, dtype: float64

#Mobility

In [ ]:
rail_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/railways-passengers-carried-passenger-km.csv')
aviation_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/per-capita-km-aviation.csv')

In [ ]:
df_mobility = co2_df.merge(aviation_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer').merge(rail_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
df_mobility.corr()['co2_per_capita']

Year                                                   0.119473
Annual CO₂ emissions                                   0.038651
Population (historical estimates)                     -0.009601
co2_per_capita                                         1.000000
Per capita total RPKs                                  0.445305
Railways, passengers carried (million passenger-km)    0.008147
Name: co2_per_capita, dtype: float64

In [ ]:
df_mobility.head(20000)

,Entity,Code,Year,Annual CO₂ emissions,Population (historical estimates),co2_per_capita,Per capita total RPKs,"Railways, passengers carried (million passenger-km)"
0,Afghanistan,AFG,1949,14656.0,7624058.0,0.001922,NaN,NaN
1,Afghanistan,AFG,1950,84272.0,7480464.0,0.011266,NaN,NaN
2,Afghanistan,AFG,1951,91600.0,7571542.0,0.012098,NaN,NaN
3,Afghanistan,AFG,1952,91600.0,7667534.0,0.011946,NaN,NaN
4,Afghanistan,AFG,1953,106256.0,7764549.0,0.013685,NaN,NaN
...,...,...,...,...,...,...,...,...
19995,Niger,NER,1980,570174.0,6173179.0,0.092363,NaN,NaN
19996,Niger,NER,1981,683795.0,6366270.0,0.107409,NaN,NaN
19997,Niger,NER,1982,745878.0,6564456.0,0.113624,NaN,NaN
19998,Niger,NER,1983,961841.0,6766616.0,0.142145,NaN,NaN
19999,Niger,NER,1984,990948.0,6973850.0,0.142095,NaN,NaN

# Military spending

In [ ]:
military_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/military-spending-per-capita.csv')
df_military = co2_df.merge(military_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
df_military.corr()['co2_per_capita']

Year                                 0.119473
Annual CO₂ emissions                 0.038651
Population (historical estimates)   -0.009601
co2_per_capita                       1.000000
military_expenditure_per_capita      0.639084
Name: co2_per_capita, dtype: float64

# Income inequality

In [ ]:
gini_df = pd.read_csv('https://raw.githubusercontent.com/MerienMoelker/Final-assignment---CO2-emissions/main/economic-inequality-gini-index%20(1).csv')
df_income = co2_df.merge(gini_df, left_on=['Entity', 'Code', 'Year'], right_on=['Entity', 'Code', 'Year'], how='outer')

In [ ]:
df_income.corr()['co2_per_capita']

Year                                 0.119473
Annual CO₂ emissions                 0.038651
Population (historical estimates)   -0.009601
co2_per_capita                       1.000000
Gini coefficient                    -0.433344
Name: co2_per_capita, dtype: float64

# Analyse

In [ ]:
dfs = [df_gdp, df_diet, df_num_of_cars, df_pop, df_energy, df_mobility, df_military, df_income]

In [ ]:
for dataframe in dfs:
  df = df.merge(dataframe,how='left')

In [ ]:
corr_df = df.corr()['co2_per_capita']

In [ ]:
corr_df = corr_df.sort_values()
display(corr_df.head(5))
display(corr_df.tail(5))

Gini coefficient        -0.433344
renewables_share_elec   -0.277443
hydro_share_elec        -0.273197
low_carbon_share_elec   -0.223897
oil_share_elec          -0.212688
Name: co2_per_capita, dtype: float64

gas_elec_per_capita       0.682614
diesel_gas_number         0.704291
total_new_cars            0.778265
fossil_elec_per_capita    0.848802
co2_per_capita            1.000000
Name: co2_per_capita, dtype: float64